<% provide(:title, 'All pets') %>
<h1>All pets</h1>
<h1><%= link_to "Search", new_search_path %></h1>

<%= will_paginate %>
<ul class="pets">
  <% @pets.each do |pet| %>
  
    <li>
      <%= image_tag pet.image.url(:thumb) %>
      <br/>
      <%= link_to pet.nickname, pet %>
      <br/>
      <%= "Age:" %><%= pet.age %>
      <br/>
      <%= "Gender:" %><%= (pet.gender==0?"Male":"Female") %>
      <br/>
      <%= "Breeds:" %><%= pet.breeds %>
      <br/>
      <%= "City:" %><%= pet.city %>
      <br/>
      <%= "Email:" %>
      <%= link_to pet.user_email, pet.user %>
      
      
      
      
    </li>
  <% end %>
</ul>

<%= will_paginate %>
