<% provide(:title, 'All pets') %>
<h1>All pets</h1>
<%= form_tag searched_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "input what you want" %>
    <center>
       <% end %>
  <input class="btn btn-large btn-primary" name="commit" type="submit" value="Search">
    </center>
<h1><%= link_to "Search", new_search_path %></h1>

<% @pet.each_slice(4) do |pets| %>
  <div class="row">
    <% pets.each do |pet| %>
      <div class="col-md-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to pet do %>
              <%= image_tag pet.image.url(:thumb) %>
            <% end %>
          </div>
          <h2>
            <%= link_to pet.nickname, pet %>
          </h2>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

