<% provide(:title, 'All pets') %>
<h1>All pets</h1>

<%= will_paginate %>
<ul class="pets">
  <% @pets.each do |pet| %>
  
    <li>
      <%= link_to pet.nickname, pet %>
      <br/>
      <%= "Age:" %><%= pet.age %>
      <br/>
      <%= "Gender:" %><%= (pet.gender==0?"Male":"Female") %>
      <br/>
      <%= "Breeds:" %><%= pet.breeds %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
