<% provide(:title, 'Add pet') %>
<h1>Add pet</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@pet) do |f| %>
    <%= render 'shared/error_messages_pet' %>
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: 'form-control' %>

      <%= f.label :age %>
      <%= f.select(:age,@option = options_for_select([[''],['0 - 3 months'],['3 months - 6 months'],['6 months - 1 year'],['1 year - 2 years'],['2 years - 3 years'],['3 years - 4 years'],['4 years - 5 years'],['5 years - 6 years'],['over 6 years']],@pet.age)) %>

      <%= f.label :gender %>
      <%= f.select(:gender,@option = options_for_select([['',''],['Male','0'],['Female','1']],@pet.gender)) %>

      <%= f.label :breeds %>
      <%= f.select(:breeds,@option = options_for_select([[''],['Labrador'],['German Shepherd'],['German Shepherd'],['Beagle'],['Golden Retriever'],['Yorkshire Terrier'],['Bulldog'],['Box'],['Poodle'],['Others']],@pet.breeds)) %>

      <%= f.label :city %>
      <%= f.select(:city,@option = options_for_select([[''],['Carlow'],['Cavan'],['Clare'],['Cork'],['Donegal'],['Dublin'],['Kerry'],['Kildare'],['Kilkenny'],['Laois'],['Leitrim'],['Limerick'],['Longford'],['Louth'],['Mayo'],['Meath'],['Monaghan'],['Offaly'],['Roscommon'],['Sligo'],['Tipperary'],['Waterford'],['Westmeath'],['Wexford'],['Wicklow']],@pet.city)) %>

      <%= f.label :owner_email %>
      <%= f.email_field :owner_email, class: 'form-control' %>



      <%= f.submit "Add an pet", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

