<% provide(:title, @pet.nickname) %>
<h1>
<%= @pet.nickname %>
</h1>
<h2>
<%= image_tag @pet.image.url(:medium) %>
</h2>
<h2>
	<%= "Age:" %>

	<%= @pet.age %>
	
</h2>
<h2>
	<%= "Gender:" %>
	<%= @pet.gender==0?"Male":"Female" %>
</h2>
<h2>
	<%= "Breeds:" %>
	<%= @pet.breeds %>
</h2>
<h2>
	<%= "City:" %>
	<%= @pet.city %>
</h2>
<h2>
	<%= "Email:" %>
	<%= @pet.user_email %>
</h2>

  <div>
    
    <h2><%= @pet.comments.count %> Comments</h2>
    <%= render @pet.comments %>

    <h3>Add a comment</h3>
    <%= form_for([@pet, @pet.comments.build]) do |f| %>
    <p>
      <%= f.label :body %></br>
      <%= f.text_field :body %>
    </p>
    </br>
    <%= f.submit %>
    <% end %>  
  </div>

<%= link_to 'Back', pets_path %>

  



