<% provide(:title, 'Search pet') %>
<h1>Pet Search</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@search) do |s| %>
    

      <%= s.label :age %>
      <%= s.select(:age,@option = options_for_select([[''],['0 - 3 months'],['3 months - 6 months'],['6 months - 1 year'],['1 year - 2 years'],['2 years - 3 years'],['3 years - 4 years'],['4 years - 5 years'],['5 years - 6 years'],['over 6 years']],@search.age)) %>

      <%= s.label :gender %>
      <%= s.select(:gender,@option = options_for_select([['',''],['Male','0'],['Female','1']],@search.gender)) %>

      <%= s.label :breeds %>
      <%= s.select(:breeds,@option = options_for_select([[''],['Labrador'],['German Shepherd'],['Beagle'],['Golden Retriever'],['Yorkshire Terrier'],['Bulldog'],['Box'],['Poodle'],['Others']],@search.breeds)) %>

      
      

      <%= s.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<p><%= link_to 'Back', pets_path %></p>