<h1>search results</h1>
<table class="table table-striped">
  <thead>
  
  </thead>

  <tbody>
    <% @pet.each do |pet| %>
      <tr>
        <td><%= pet.nickname %></td>
        <td><%= pet.age %></td>
        <td><%= pet.gender %></td>
        <td> <%= image_tag pet.image.url(:thumb) %></td>
        <td><%= pet.breeds %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back", root_path %>