<h1>Search Result</h1>
<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_pets.empty? %>
  <p>No Records Found</p>
<% else %>

  <% @search.search_pets.each do |f| %>
  <br>
  <div class="div">
  	<h1><%= link_to f.nickname, f %></h1>
    
  	<h2>Age: <%= f.age %></h2>
  	<h2>Gender: <%= f.gender==0?"Male":"Female" %></h2>
  	<h2>Breeds: <%= f.breeds %></h2>
    
  	

  </div>
<% end %>
<% end %>

