<% provide(:title, @product.breeds) %>
<h1>
<%= @product.breeds %>
</h1>
<h2>
<%= image_tag @product.image.url(:medium) %>
</h2>
<h2>
	<%= "Gender:" %>
	<%= @product.gender==0?"Male":"Female" %>
</h2>
<h2>
	<%= "Age:" %>

	<%= @product.age %>
	
</h2>


<h2>
	<%= "City:" %>
	<%= @product.city %>
</h2>
<h2>
	<%= "Price: €" %>
	<%= @product.price %>
</h2>
<h2>
	<%= "Description:" %>
	<%= @product.description %>
</h2>
<h2>
	<%= "Email:" %>
	<%= @product.user_email %>
</h2>

 


<%= link_to "Back", root_path, class: "btn btn-default" %>
<% if logged_in? %>
  <%= link_to "Edit", edit_product_path, class: "btn btn-default" %>
  <%= link_to "Delete", product_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
<% end %>
