<%= image_tag @product.image.url(:medium), class: "recipe_image" %>
<h1>
  <%= @product.breeds %>
</h1>
<h2>
  <%= @product.gender %>
</h2>
<h2>
  <%= @product.age %>
</h2>
<h2>
  <%= @product.city %>
</h2>
<h2>
  <%= @product.price %>
</h2>
<p class="description">
  <%= @product.description %>
</p>
<%= link_to "Back", root_path, class: "btn btn-default" %>
<% if logged_in? %>
  <%= link_to "Edit", edit_product_path, class: "btn btn-default" %>
  <%= link_to "Delete", product_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
<% end %>
