<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "dog world", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            
            <% if logged_in? %>
              
              <li><%= link_to "Breeder", pets_path %></li>
              <li><%= link_to "Sale", products_path %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              <li><%= link_to "My Account", microposts_path %></li>
             
              
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>